body {
  display: inline-block;
  font-family: Arial, sans-serif;
}

.main{
  position:relative;
  display:inline-block;
  align-items: center;
  text-align: center;
  z-index:1;
}

h1,p{
  color:#fff;
  display:inline-block;
}

canvas{
  width: 100%;
  height: 100%;
  position:fixed;
  inset:0;
  z-index:-1;
}