// color
html {
    --base-background-color: #1F1F1F;
    --base-font-color: #F1F1F1;
    --white-background-color: #F1F1F1;
    --social-icon-color: #F1F1F1;
    --card-background-color: rgba(31, 31, 31, 0.7);
}